body{
    position: absolute;
    font-family: Verdana;
    background-color: cornflowerblue;
    font-size: 14px;
    max-width: 500px;
    margin: auto;
}

.websiteTitle{
    background-color: red;
    padding: 40px;
    margin: 20px;
    border-radius: 50%;
}

p{
    text-align: center;
}

.categoryDiv{
    background-color: white;
    padding: 10px;
}

.addPlayersDiv{
    background-color: white;
    padding: 10px;
}

.currentPlayersDiv{
    background-color: white;
    padding: 10px;
}

.startNextDiv{
    background-color: white;
    padding: 10px;
}

.outputDiv{
    background-color: white;
    padding: 10px;
}

.button{
    font-size: x-large;
}